.Footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c6e4ec;
    height: 25vh;
    margin-top: 5vh;
}


.Footer_Icons{
    display: flex;
    gap: 3vw;
}