.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:transparent;
    height: 15vh;
    padding: 5px;
    position: fixed;
    width: 100%;
    opacity: 0.8;
}

.Header .header-logo{
    width: 8vw;
    height: 12vh;
}

.header-logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navigation{
    ul{
        display: flex;
        gap:3vw;
        cursor: pointer;
    }
    
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        font-size: 1.5vw;
        color:#34035d;
    }
}