*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#body{
  background-image: url("../public/bgdpic.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: darken;
}

.page{
  min-height: 60vh;
  h1{
    text-align: center;
    text-decoration: underline rgb(175, 83, 195);
  }
}
